body{
    margin: 0;
    padding: 0;
}

img.background {
    height: -webkit-fill-available;
    height: 100vh;
    width: 100vw;
}

.char {
    margin: -19% -0% 0% -4%;
    transform: scaleX(1) rotate(0);
    width: 100%;
    height: 100%;
}

.container{
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 20%;
    border-radius: 100px;
}

.rotated_direita{
    transform: scaleX(-1) rotate(71deg);
    margin: -3% -0% 0% 2%;
}

.rotated_cima {
    transform: scaleX(-1) rotate(180deg);
    margin: 12% -0% 0% -13%;
}

.rotated_esquerda{
    transform: scaleX(1) rotate(43deg);
    margin: -8% -0% 0% 5%;
}

.rotated_baixo{
    transform: scaleX(-1) rotate(0deg);
    margin: -20% -0% 0% -10%;
}
