body{
    background-color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.char {
    margin: -60% -0% 0% -25%;
    width: 150px;
    height: 150px;
    transform: scaleX(1) rotate(0);
}

.container{
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.rotated_direita{
    transform: scaleX(-1) rotate(71deg);
    width: 150px;
    height: 150px;
    margin: -30% -0% 0% -60%;
}

.rotated_cima {
    transform: scaleX(-1) rotate(180deg);
    width: 150px;
    height: 150px;
    margin: 10% -0% 0% -30%;
}

.rotated_esquerda{
    transform: scaleX(-1) rotate(270deg);
    width: 150px;
    height: 150px;
    margin: -20% -0% 0% 5%;
}

.rotated_baixo{
    transform: scaleX(-1) rotate(0deg);
    width: 150px;
    height: 150px;
    margin: -60% -0% 0% -25%;
}
